{% extends "base.html" %}
{% block title %}Empower Your Office Today!{% endblock %}
{% block content %}

<!-- Welcome Message -->
<br>
<div class="jumbotron">
    <div class="row">
      <div class="col-4">
        <img src="../static/images/team-2.svg"/>
      </div>

      <div class="col-8">
                <br/>
        <h2>Looking For The Best EMS?</h2>
            <h3 class="text-muted">Simplicity In Design</h3>
        <br/>
                <p>Business are operating larger today than ever in history. You need a system that can mange
                your internal operation and scale as your company grow. Let us manage your workflow with
                streamline tools that can help you better mange your employees</p>
        <br/>
                <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
                <br/>
      </div>
    </div>
</div>
<!-- Package Available -->
<div class="jumbotron">
    <div class="row">
        <div class="col-4">
            <div class="card">
              <img class="card-img-top" src="../static/images/team-1.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
              <img class="card-img-top" src="../static/images/team-talk.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
              <img class="card-img-top" src="../static/images/team-3.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- Closing -->
<div class="jumbotron">
    <div class="row">
      <div class="col-8">
                <br/>
        <h2>Integrate With Existing Infrastructure</h2>
            <h3 class="text-muted">Workflow Friendly</h3>
        <br/>
                <p>Business are operating larger today than ever in history. You need a system that can mange
                your internal operation and scale as your company grow. Let us manage your workflow with
                streamline tools that can help you better mange your employees</p>
        <br/>
                <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
                <br/>
      </div>
      <div class="col-4">
        <img src="../static/images/team.svg"/>
      </div>
    </div>
</div>

{% endblock %}