{% extends "base.html" %}
{% block title %}Empower Your Office Today!{% endblock %}
{% block content %}

<!-- Welcome Message -->

<div class="jumbotron">
    <div class="row">
      <div class="col-6">
        <img src="../static/images/team-2.svg"/>
      </div>

      <div class="col-6" style="padding: 200px 0;">
                <br/>
        <h2>Looking For The Best EMS?</h2>
            <h3 class="text-muted">Simplicity In Design</h3>
        <br/>
                <p>Business are operating larger today than ever in history. You need a system that can mange
                your internal operation and scale as your company grow. Let us manage your workflow with
                streamline tools that can help you better mange your employees</p>
        <br/>
                <p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal">Learn More!</button>
                <br/>
      </div>
    </div>
</div>

<!-- Features Cards -->

<div class="jumbotron">
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
              <img class="card-img-top" src="../static/images/team-1.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Simple, Modern Interface!</h5>
                <p class="card-text">Simple intuitive employee management system to easily track employee information.</p>
              </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
              <img class="card-img-top" src="../static/images/team-talk.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Easily Track Employee Information!</h5>
                <p class="card-text">Boost your productivity and easily capture the employee data that matters.</p>
              </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
              <img class="card-img-top" src="../static/images/team-3.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Report At The Touch Of A Button!</h5>
                <p class="card-text">In EMS, you can easily run detailed employee reports at the click of a button.</p>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- Closing -->
<div class="jumbotron">
    <div class="row">
      <div class="col-7">
                <br/>
        <h2>Integrate With Existing Infrastructure</h2>
            <h3 class="text-muted">Workflow Friendly</h3>
        <br/>
                <p>Business are operating larger today than ever in history. You need a system that can mange
                your internal operation and scale as your company grow. Let us manage your workflow with
                streamline tools that can help you better mange your employees</p>
        <br/>
			  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal">Contact Us!</button>

			  <!-- Modal -->
			  <div class="modal fade" id="modal" role="dialog">
				<div class="modal-dialog">
				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-body">
						<div style="text-align: center;"><h5>Call us today to hear why EMS is a great fit for you!</h5>
							<img src="../static/images/phone.svg"/>
							555-555-5555
						</div>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
                  </div>
                </div>
              </div>

                <br/>
      </div>
      <div class="col-5">
        <img src="../static/images/team.svg"/>
      </div>
    </div>
</div>

{% endblock %}