{% extends "base_dash.html" %}
{% set active_page = "info-guide" %}
{% block title %}Empower Your Office Today!{% endblock %}
{% block content %}


<!-- Content Panel-->

<main role="main" class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">
  <div class="jumbotron bg-primary text-white shadow">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Informational Guide</h1>
    </div>
  </div>

<!-- Info Guide Accordion -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card mb-4 shadow">
          <h5 class="card-header">Sections</h5>
          <div class="card-body">

<div class="col align-self-center">
<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
		<button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		<h5>Dashboard</h5>
		</button>
	</div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
		  <div style="text-align: center;">
<ul>
<li style="text-align: left;"><strong>Report Card</strong>
<ul>
<li>The Report Card will direct the user to the Report page</li>
</ul>
</li>
<li style="text-align: left;"><strong>Directory Card</strong>
<ul>
<li>The Directory Card will direct the user to the Directory page</li>
</ul>
</li>
<li style="text-align: left;"><strong>Add User Card</strong>
<ul>
<li>The Add User Card will direct the user to the Add Employee page</li>
</ul>
</li>
<li style="text-align: left;"><strong>Remove User Card</strong>
<ul>
<li>The Remove User Card will direct the user to the Remove Employee page</li>
</ul>
</li>
<li style="text-align: left;"><strong>Informational Guide Card</strong>
<ul>
<li>The Informational Guide Card will direct the user to the Informational Guide page</li>
</ul>
</li>
<li style="text-align: left;"><strong>Settings Card</strong>
<ul>
<li style="text-align: left;">The Settings Card will direct the user to the Settings page</li>
</ul>
</li>
</ul>
            <img src="../static/images/dashboard.svg"/>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			<h5>Report</h5>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
		  <div style="text-align: center;">
<ul>
<li style="text-align: left;"><strong>Search by Name</strong>
<ul>
<li>The Search by Name dropdown is used to search for current employees
<ul>
<li>Employee searches can be conducted by selecting the employee's name from the dropdown menu</li>
<li>Click "Get Info" after an employee name is selected to display Employee Information.&nbsp;</li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li style="text-align: left;"><strong>Employee Information Card</strong>
<ul>
<li style="text-align: left;">The Employee Information Card displays the information for the employee that has been selected via the dropdown menu</li>
<li style="text-align: left;">The Employee Information Card displays the following employee details, including:
<ul>
<li style="text-align: left;">Employment</li>
<li style="text-align: left;">Department</li>
<li style="text-align: left;">Position</li>
<li style="text-align: left;">Title</li>
</ul>
</li>
</ul>
</li>
</ul>
            <img src="../static/images/report.svg"/>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			<h5>Directory</h5>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
		  <div style="text-align: center;">
            <ul>
<li style="text-align: left;"><strong>Employee Search</strong>
<ul>
<li style="text-align: left;">Allows administrator to look up individual employees by department, title, name or Employee ID<br />
<ul>
<li style="text-align: left;">A dropdown menu will sort employees based on their department, title, last name, first name or Employee ID</li>
<li style="text-align: left;">Once a selection has been made, click the "Select" button to sort the table</li>
<li style="text-align: left;">The table will populate below with a list of sorted employees</li>
</ul>
</li>
</ul>
</li>
</ul>
           <img src="../static/images/directory.svg"/>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			<h5>Add Employee</h5>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
		  <div style="text-align: center;">
              <ul>
<li style="text-align: left;"><strong>Add an Employee to the system</strong>
<ul>
<li style="text-align: left;">An empty form will be generated with various text fields</li>
<li style="text-align: left;">Some of the text fields will be required, such as personal information, position, title and department, while others may be left empty</li>
<li style="text-align: left;">The form will not submit if a required field is left empty</li>
<li style="text-align: left;">Once all fields have been completed, click "Submit" button</li>
<li style="text-align: left;">The employee will now be added to the database and can be located throughout the application</li>
</ul>
</li>
</ul>
              <img src="../static/images/addemployee.svg"/>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			<h5>Remove Employee</h5>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
		  <div style="text-align: center;">
              <ul>
<li style="text-align: left;"><strong>Remove an Employee from the system</strong>
<ul>
<li style="text-align: left;">Select the employee's name that should be removed from the dropdown list</li>
<li style="text-align: left;">Click "Select"&nbsp;</li>
<li style="text-align: left;">Selection must be confirmed before employee will be removed</li>
<li style="text-align: left;"><em>Note:&nbsp;</em>The selected employee will remain in the database for archival purposes, but will be marked as "inactive" during this process</li>
</ul>
</li>
</ul>
              <img src="../static/images/removeemployee.svg"/>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			<h5>Print</h5>
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
		  <div style="text-align: center;">
              <ul>
<li style="text-align: left;"><strong>Print Button</strong>
<ul>
<li style="text-align: left;">The print button can be clicked from any page in EMS in order to print a copy of the current page</li>
<li style="text-align: left;">A pop-up window will appear in order to configure print settings</li>
</ul>
</li>
</ul>
              <img src="../static/images/print.svg"/>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
			<h5>Settings</h5>
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
		  <div style="text-align: center;">
              <ul>
<li style="text-align: left;"><strong>Log User Out</strong>
<ul>
<li style="text-align: left;">When "Logout" is clicked, the current user will be logged out</li>
</ul>
</li>
</ul>
              <img src="../static/images/logout.svg"/>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
        </div>
      </div>
    </div>
</main>

<!-- Footer -->
            <div>
                <div class="container">
                    <p align="center">Made with <span style="color: #e25555;">&#9829;</span> by The Web Debbies</p>
                    <br/>
                </div>
            </div>


{% endblock %}