{% extends "base_dash.html" %}
{% set active_page = "report" %}
{% block title %}Empower Your Office Today!{% endblock %}
{% block content %}


<!-- Content Panel-->

<main role="main" class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">
  <div class="jumbotron bg-primary text-white shadow">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Report</h1>
    </div>
  </div>

    <div class="row mb-4">
      <div class="col-sm-12">
        <div class="card mb-4 shadow">
          <h5 class="card-header">Search By Name</h5>
          <div class="card-body">

              <form class="form-inline" method="post" action="/get-user-info">
                <select name="selectUser" class="custom-select mr-2 col-sm-8">
                    {% for emp in employees %}
                    <option value="{{emp[0]}}" {% if emp[0] == employee[0].empID %} selected {% endif %}>{{emp[1]}} {{emp[2]}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Get Info</button>
              </form>

          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-4">
        <div class="card mb-2 shadow">
          <h5 class="card-header">Employee's Information</h5>
          <div class="card-body">
{% if employee[0].empID != "" %}
<form action="/save-user-info" method="post">
  <input style="visibility:hidden" name="idField" value="{{employee[0].empID}}" />     
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputFirstname">First Name</label>
      <input type="text" class="form-control" name="inputFirstname" placeholder="John" value="{{employee[0].fname}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastname">Last Name</label>
      <input type="text" class="form-control" name="inputLastname" placeholder="Doe" value="{{employee[0].lname}}">
    </div>
    <div class="form-group col-md-2">
      <label for="inputSSN">Social Security Number</label>
      <input type="text" class="form-control" name="inputSSN" placeholder="123-45-6789" value="{{employee[1].ssn}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" name="inputEmail" placeholder="johndoe@example.com" value="{{employee[0].email}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPhone">Phone Number</label>
      <input type="text" class="form-control" name="inputPhone" placeholder="(123) - 456 - 7890" value="{{employee[0].phone}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" name="inputAddress" placeholder="1234 Main St" value="{{employee[1].address}}">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" name="inputCity" value="{{employee[1].city}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select name="inputState" class="custom-select" value="{{employee[1].state}}">
          <option value="" selected disabled hidden>State...</option>
          <option value="Maryland"{% if employee[1].state=="Maryland"%} selected{% endif %}>Maryland</option>
          <option value="Virginia"{% if employee[1].state=="Virginia"%} selected{% endif %}>Virginia</option>
          <option value="North Carolina"{% if employee[1].state=="North Carolina"%} selected{% endif %}>North Carolina</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" name="inputZip" value="{{employee[1].zipcode}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputdepartment">Department</label>
      <select name="inputDepartment" class="custom-select">
          {% for dep in departments %}
          <option value="{{ dep.deptID }}"{% if employee[0].deptID==dep.deptID %} selected=employee[0].deptID {% endif %}>{{ dep.deptTitle }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputTitle">Title</label>
      <input value="{{employee[0].title}}" type="text" class="form-control" name="inputTitle" placeholder="Software Engineer">
    </div>
    <div class="form-group col-md-4">
      <label for="inputLicense">License/ID #</label>
      <input value="{{employee[1].licenseID}}" type="text" class="form-control" name="inputLicense" placeholder="12345678">
    </div>

  </div>
  <button type="submit" class="btn btn-danger">Save</button>
  <ul>
      {% for error in messages %}
        <li>{{error}}</li>
      {% endfor %}
  </ul>
</form>
{% else %}
<h2>You must select an employee first.</h2>
{% endif %}

          </div>
        </div>
      </div>

    </div>
</main>

<!-- Footer -->
            <div>
                <div class="container">
                    <p align="center">Made with <span style="color: #e25555;">&#9829;</span> by The Web Debbies</p>
                    <br/>
                </div>
            </div>


{% endblock %}