{% extends "base_dash.html" %}
{% set active_page = "settings" %}
{% block title %}Empower Your Office Today!{% endblock %}
{% block content %}


<!-- Content Panel-->

<main role="main" class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">
  <div class="jumbotron bg-primary text-white shadow">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Settings</h1>
    </div>
  </div>

    <div class="row mb-4">
      <div class="col-sm-4">
        <div class="card shadow">
          <h5 class="card-header">Logout</h5>
          <div class="card-body">
            <img class="card-img-top" src="../static/images/settings-logout.svg" alt="Card image cap">
            <p class="card-text">Click on the link to logout</p>
            <a href="#" class="btn btn-primary">Logout</a>
          </div>
        </div>
      </div>
    </div>
</main>

<!-- Footer -->
            <div>
                <div class="container">
                    <p align="center">Made with <span style="color: #e25555;">&#9829;</span> by The Web Debbies</p>
                    <br/>
                </div>
            </div>


{% endblock %}