{% extends "base_dash.html" %}
{% set active_page = "user-add" %}
{% block title %}Empower Your Office Today!{% endblock %}
{% block content %}


<!-- Content Panel-->

<main role="main" class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">
  <div class="jumbotron bg-primary text-white shadow">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Add Employee</h1>
    </div>
  </div>

    <div class="row mb-4">
      <div class="col-sm-12">
        <div class="card mb-4 shadow">
          <h5 class="card-header">New Employee's Information</h5>
          <div class="card-body">

<form method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputFirstname">First Name</label>
      <input id="inputFirstName" type="text" class="form-control" name="inputFirstname" value="{{ data_list[0].fname }}" placeholder="John">
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastname">Last Name</label>
      <input type="text" class="form-control" name="inputLastname" value="{{ data_list[0].lname }}" placeholder="Doe">
    </div>
    <div class="form-group col-md-2">
      <label for="inputSSN">Social Security Number</label>
      <input type="text" class="form-control" name="inputSSN" value="{{ data_list[1].ssn }}" placeholder="123-45-6789">
    </div>
    <div class="form-group col-md-3">
        <label for="inputLicense">License/ID #</label>
        <input type="text" class="form-control" name="inputLicense" value="{{ data_list[1].licenseID }}" placeholder="MD2000000000" />
    </div>
    <div class="form-group col-md-5">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" name="inputEmail" value="{{ data_list[0].email }}" placeholder="johndoe@example.com">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPhone">Phone Number</label>
      <input type="tel" class="form-control" name="inputPhone" value="{{ data_list[0].phone }}" placeholder="(123) - 456 - 7890">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" name="inputAddress" value="{{ data_list[1].address }}" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" value="{{ data_list[1].city }}" name="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select name="inputState" value="{{ data_list[1].state }}" class="form-control">
        <option>Choose...</option>
        <option>Maryland</option>
        <option>Virginia</option>
        <option>North Carolina</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputZip">Zip</label>
      <input type="number" class="form-control" name="inputZip" value="{{ data_list[1].zipcode }}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputDepartment">Department</label>
      <select name="inputDepartment" class="custom-select">
          {% for dep in departments %}
          <option value="{{ dep.deptID }}" selected>{{ dep.deptTitle }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputTitle">Title</label>
      <input type="text" class="form-control" name="inputTitle" value="{{ data_list[0].title }}" placeholder="Software Engineer">
    </div>

  </div>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>
<div id="messageDiv">
    <ul id="messageList">
        {% for msg in message %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
</div>

          </div>
        </div>
      </div>
    </div>
 </main>

<!-- Footer -->
            <div>
                <div class="container">
                    <p align="center">Made with <span style="color: #e25555;">&#9829;</span> by The Web Debbies</p>
                    <br/>
                </div>
            </div>


{% endblock %}